# From Json
{{#each list_of_persons_json.persons}}
  {{>person person=.}}
{{/each}}

# From Yaml
{{#each list_of_persons_yaml.persons}}
  {{>person person=.}}
{{/each}}

# From js
{{#each list_of_persons_js.persons}}
  {{>person person=.}}
{{/each}}


Content of custom property from the bebar file:
{{bebar.customProperty}}

Are simple JS files working?
{{simple_js.status}}

Are promises JS files working?
{{promise_js.status}}
